*{
        margin: 0px;
        padding:0px;
        box-sizing: border-box;
        font-family: Century;
        
}

.main{
        width:auto;
        display: flex;
        flex-direction: column;
        background-image: url(10.jpg);
        background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,url(10.jpg));
        background-position: center;
        background-size: cover;
        height: 100vh;

}

.navbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height:60px;
}

.icon{
        width:200px;
        float:left;
        height: 70px;

}

.logo{
        color: #ff7200;
        font-size: 35px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float:left;
        padding-left: 20px;
        padding-top:10px ;
}

.menu{
        display: flex;
        height: 70px;
}

ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
}

ul li{
        list-style: none;
        margin-left: 62px;
        margin-top:27px;
        font-size: 14px;
}

ul li a{
        text-decoration: none;
        color: white;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
}

ul li a:hover{
        color: #ff7200;
}

.search{
        width: 330px;
}

.search > input {
        font-family:'Times New Roman' ;
        width: 150px;
        height: 40px;
        background: transparent;
        border: 1px solid #ff7200;
        color: white;
        border-right:none ;
        font-size: 15px;
        padding:10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
}

.btn{
        width: 150px;
        height: 40px;
        background: #ff7200;
        border: 2px solid #ff7200;
        margin-top: 13px;
        color: white;
        font-size: 15px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;

}

.btn:focus{
        outline: none;
}

.srch:focus{
        outline: none;
}

.content-section {
        display: flex;
        padding: 3rem;
        justify-content: space-evenly;
        align-items: center;
        color: white;
}

.content .par{
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height:30px;
        text-align: justify;
}

.content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 10px;
        margin-top: none;
        letter-spacing: 2px;
        padding-left: 25px;
        text-align: left;
}

.content .cn{
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
        
}

.content .cn a{
        text-decoration: none;
        color:black;
        transition: .3s ease;
}

.cn:hover{
        background-color: white;
}

.content span{
        color: #ff7200;
        font-size: 60px;
}

form{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 25px;
        background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
}

form h2{
        width: 220px;
        font-family: sans-serif;
        text-align:center;
        color: #ff7200;
        font-size: 22px;
        background-color: white;
        border-radius: 10px;
        margin: 2px;
        padding: 8px;
}

form input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom:1px solid #ff7200 ;
        border-top: none;
        border-left: none;
        border-right: none;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
}

form input:focus{
        outline: none;
}

::placeholder{
        color: white;
        font-family: Arial;
}

.btnn{
        width: 240px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: white;
}

.btnn:hover{
        background: white;
        color: #ff7200;
}

.btnn a{
        text-decoration: none;
        color: black;
        font-weight: bold;

}

.form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
}

.form.link a{
        text-decoration: none;
        color: #ff7200;
}

.liw{
        color:white;
        text-decoration:none;
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
}

.icons a{
        text-decoration: none;
        color: white;
}

.icons ion-icon{
        color: white;
        font-size: 30px;
        padding-left: 25px;
        padding-top: 5px;
        transition: 0.3s ease;
}

.icons ion-icon:hover{
        color: #ff7200;
}

.file{
        background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        text-align: center;
        padding: 25px;
        width: 35%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-self:center;
        margin-top: 100px;

}

.file h2{
        width: 420px;
        font-family: sans-serif;
        text-align:center;
        color: #ff7200;
        font-size: 22px;
        background-color: white;
        border-radius: 10px;
        margin: 2px;
        padding: 25px;
        
}

.file input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom:1px solid #ff7200 ;
        border-top: none;
        border-left: none;
        border-right: none;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
}
